---
import Layout from "../layouts/Layout.astro";
import TaskManager from "../components/TaskManager.svelte";
---

<Layout title="ToDo App">
  <main class="h-screen flex flex-col justify-center items-center">
    <h1 class="text-accent text-xl">Hello world</h1>
    <TaskManager client:load />
  </main>
</Layout>
